body {
    background-color: aliceblue;
}

.container {
    padding:20px;
}

.no-marg {
    margin:0px;
}

.shade {
    box-shadow: 0 4px 8px 0 rgba(135, 168, 155, 0.299), 0 6px 20px 0 rgba(135, 168, 155, 0.19);
}

#header {
    background: -webkit-linear-gradient(90deg, #1d3151, #2c5b8f);
    margin-top:20px;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    color: #b4d4d1;
}

#menu {
    background:#e39480;
    padding:15px;
    border-radius:0px 0px 20px 20px;
}

#box {
    /* border-radius: 0px 0px 5px 5px; */
    padding:20px;
}

.main-header {
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    height: 35px;
}

.main {
    padding: 10px;
    background: rgb(238,227,174);
    background: radial-gradient(ellipse, rgb(239, 237, 227) 0%, rgb(214, 195, 223) 100%);
}

#main-box {
    margin-top:30px;
    padding:10px;
}

#main-box h3 {
    text-align: center;
    color:#2c5b8f;
}

.project-box {
    padding:10px;
    margin:10px;
    background: #e39480;
    text-align: center;
    border-radius: 10px;
    color:#2c5b8f;
}

.project-box img {
    width:500px;
    height:200px;
    display: block;
    border-radius: 5px;
}

#footer {
    margin-top:30px;
    background:#e39480;
    padding:15px;
    border-radius:20px 20px 20px 20px;
}

.foot-box h4{
    background-color:#FFF;
    padding:10px;
    border-radius:10px 10px 10px 10px;
    text-align: center;
}

#github {
    height: 40px;
    width: 40px;
}

#ghub {
    float:right;
    padding:5px;
    color:#1d3151;
}

#ghub a {
    opacity:0.5;
}

#ghub a:hover {
    opacity:1;
}

.btn-primary {
    background-color: #e39480;
}

.sidebar {
    color:#1d3151;
    padding:5px;
    background: -webkit-linear-gradient(90deg, aliceblue, #b4d4d1);
}

.sidebar-bottom{
    color:#1d3151;
    padding:5px;
    background: -webkit-linear-gradient(90deg, #b4d4d1, aliceblue);
    border-radius: 0px 0px 20px 20px;
}

.top {
    border-radius: 20px 20px 0px 0px;
    margin-top:20px;
    background: -webkit-linear-gradient(90deg, #1d3151, #2c5b8f);
}

.sidebar h4 {
    color: #b4d4d1;
    text-align: center;
}

/* .color-palette2 {
    color: #2c5b8f;
    color: #f1c5aa;
    color: #406e63;
    color: #e39480;
    color: #e7c794;
    color: #101b2d;
    color: #b4d4d1;
} */