.gradient {
    background: hsla(339, 100%, 55%, 1);
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#45CAFF", GradientType=1 );
}

body {
    background-color: aliceblue;
}

.container {
    padding:20px;
}

.no-marg {
    margin:0px;
}

.shade {
    box-shadow: 0 4px 8px 0 rgba(135, 168, 155, 0.299), 0 6px 20px 0 rgba(135, 168, 155, 0.19);
}

#header {
    background: -webkit-linear-gradient(135deg, #A82D6D, #895B82);
    margin-top:20px;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    color: #A0A568;
}

#sm-header {
    background: -webkit-linear-gradient(135deg, hsla(329, 58%, 42%, 0.7), hsla(329, 58%, 42%, 0.549));
    margin-top:20px;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
}

#sm-footer {
    background: -webkit-linear-gradient(135deg, hsla(329, 58%, 42%, 0.549), hsla(329, 58%, 42%, 0.7));
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
}

#menu {
    background: -webkit-linear-gradient(135deg, #895B82, #87A89B);
    padding:15px;
    border-radius:0px 0px 20px 20px;
}

#box {
    /* border-radius: 0px 0px 5px 5px; */
    padding:20px;
}

.main-header {
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    height: 35px;
}

.main {
    padding: 10px;
    background: rgb(238,227,174);
    background: radial-gradient(ellipse, rgb(239, 237, 227) 0%, rgb(214, 195, 223) 100%);
}

.main-footer {
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    background: -webkit-linear-gradient(135deg, #A82D6D, #895B82);
    color: #A0A568;
    height: 35px;
}

#github {
    height: 40px;
    width: 40px;
}

#ghub {
    float:right;
    padding:5px;
}

#ghub a {
    opacity:0.5;
}

#ghub a:hover {
    opacity:1;
}

.color-palette {
    color: #87A89B;
    color: #895B82;
    color: #A82D6D;
    color: #A0A568;
    color: #F8CA0C;
}