body {
    background-color: aliceblue;
}

.container {
    padding:20px;
}

#header {
    background: -webkit-linear-gradient(135deg, #A82D6D, #895B82);
    margin-top:20px;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    color: #A0A568;
}

#menu {
    background: -webkit-linear-gradient(135deg, #895B82, #87A89B);
    padding:15px;
}

#box {
    /* border-radius: 0px 0px 5px 5px; */
    padding:20px;
}

.main-header {
    background: rgba(248, 201, 12, 0.467);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.main {
    background-color: rgba(137, 91, 130, 0.5);
    padding: 10px;
}

.main-footer {
    background: rgba(248, 201, 12, 0.467);
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.color-palette {
    color: #87A89B;
    color: #895B82;
    color: #A82D6D;
    color: #A0A568;
    color: #F8CA0C;
}